@model WebApplication2.Models.Root


@{
    ViewData["Title"] = "Home Page";
    int? daysToShow = ViewData["DaysToShow"] as int?; // Default value
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    
<p>
    By: <input type="text" name="city" />
</p>
<p>
        Hvor mange dage: <input type="number" name="daysToShow" min="1" max="5" value="@daysToShow" />
</p>
    <p>
        Units:
        <button type="submit" name="units" value="metric">Metric</button>
        <button type="submit" name="units" value="imperial">Imperial</button>
    </p>
    <p>
        <input type="checkbox" name="showRain" id="showRain" value="true" />
        <label for="showRain">Show items with rain</label>
    </p>
}
@if (Model != null)
{
   
     
    @for (int i = 0; i < daysToShow; i++)
    {
        <div>
            <h2>Weather Information for @Model.city.name </h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Icon
                        </th>
                        <th>
                            Skydække
                        </th>
                        <th>
                            Regn
                        </th>

                        <th>
                            Vind hastighed
                        </th>
                        <th>
                            Vind retning
                        </th>
                        <th>
                            temperatur
                        </th>
                        <th>
                            Vand
                        </th>


                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.ShowRain == true && Model.list.Where(x => x.rain._3h !=null))
                    {
                        @foreach (var item in Model.list
                        .Where(x => DateTimeOffset.FromUnixTimeSeconds(x.dt).DateTime.Date == DateTime.Today.AddDays(i).Date))
                        {
                            <tr>
                                <td>
                                    @foreach (var desc in item.weather)
                                    {
                                        string url = $"https://openweathermap.org/img/wn/{desc.icon}.png";
                                        <img class="img-fluid" src="@url" />
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.clouds.all)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.rain._3h)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.wind.speed)
                                </td>
                                <td>
                                    @if (true)
                                    {
                                        var degree = item.wind.deg;
                                        string direction = item.wind.GetWindDirection(degree);
                                        @direction
                                    }
                                    else
                                    {
                                        <text>N/A</text>
                                    }
                                    @Html.DisplayFor(model => item.wind.deg)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.main.temp)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.main.sea_level)
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        @foreach (var item in Model.list.Where(x => DateTimeOffset.FromUnixTimeSeconds(x.dt).DateTime.Date == DateTime.Today.AddDays(i).Date))
                        {
                            <tr>
                                <td>
                                    @foreach (var desc in item.weather)
                                    {
                                        string url = $"https://openweathermap.org/img/wn/{desc.icon}.png";
                                        <img class="img-fluid" src="@url" />
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.clouds.all)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.rain._3h)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.wind.speed)
                                </td>
                                <td>
                                    @if (true)
                                    {
                                        var degree = item.wind.deg;
                                        string direction = item.wind.GetWindDirection(degree);
                                        @direction
                                    }
                                    else
                                    {
                                        <text>N/A</text>
                                    }
                                    @Html.DisplayFor(model => item.wind.deg)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.main.temp)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.main.sea_level)
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>

    }
}
else
{
    <p>No weather data available</p>
}

