@model WebApplication2.Models.Root
@{
    ViewData["Title"] = "Home Page";
    int? daysToShow = ViewData["DaysToShow"] as int?; // Default value
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    
<p>
    By: <input type="text" name="city" />
</p>
<p>
        Hvor mange dage: <input type="number" name="daysToShow" min="1" max="5" value="@daysToShow" />
</p>
<input type="submit" value="Søg" />
}
@if (Model != null)
{
   
     
    @for (int i = 0; i < daysToShow; i++)
    {
        <div>
            <h2>Weather Information for @Model.city.name </h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Icon
                        </th>
                        <th>
                            Skydække
                        </th>
                        <th>
                            Regn
                        </th>

                        <th>
                            Vind hastighed
                        </th>
                        <th>
                            Vind retning
                        </th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.list.Where(x => DateTimeOffset.FromUnixTimeSeconds(x.dt).DateTime.Date == DateTime.Today.AddDays(i).Date))
                    {
                        
                        <tr>
                            <td>
                                @foreach (var desc in item.weather)
                                {


                                    string url = $"https://openweathermap.org/img/wn/{desc.icon}.png";

                                    <img class="img-fluid" src="@url" />
                                    @* @Html.DisplayFor(model => desc.main) *@

                                }
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.clouds.all)
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.rain._3h)
                            </td>

                            <td>
                                @Html.DisplayFor(model => item.wind.speed)
                            </td>

                            <td>
                                @if (true)
                                {
                                    var degree = item.wind.deg;
                                    string direction = item.wind.GetWindDirection(degree);
                                    @direction

                                }
                                else
                                {
                                    <text>N/A</text>
                                }
                                @Html.DisplayFor(model => item.wind.deg)
                            </td>


                        </tr>
                    }
                </tbody>
            </table>

        </div>

    }
}
else
{
    <p>No weather data available</p>
}

